.btn {
  --btnPadY: 1rem;
  --btnPadX: 1.5rem;
  --btnBorderWidth: .25rem;
  --btnBorderColor: transparent;
  --btnBorderRad: .5rem;
  padding-block: var(--btnPadY);
  padding-inline: var(--btnPadX);
  border-radius: var(--btnBorderRad);
  border-width: var(--btnBorderWidth);
  border-color: var(--btnBorderColor);
  cursor: pointer;
  
  & * {
    pointer-events: none;
  }
  
  &--isRound {
    --btnBorderRad: 100%;
  }
}
