.icon {
  --iconSize: 4rem;
  --iconColor: var(--colorEerieBlack);
  display: block;
  fill: currentColor;
  transition: fill .2s;
  height: var(--iconSize) !important;
  width: var(--iconSize) !important;
  color: var(--iconColor);
}
