.header {
  padding: 1rem;
  color: var(--colorWhite);
  background: var(--colorPurple);
  
  &__wrapper {
    width: var(--gridWidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  &__logo {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  &__extraLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--colorWhite);
  }
}
