.swiper {
  --swiper-width: 100%;
  
  width: var(--swiper-width);
  
  &-wrapper {
    display: flex;
  }
  
  &-slide {
    cursor: grab;
  }
  
  &-pagination {
    &__wrapper {
      display: flex;
      gap: .5rem;
    }
  }
}
