/*
 * Typography.
 * Connect fonts and determine common font styles.
*/

html {
  font-size: 8px; /* determine size of rem unit. */
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 2rem;
  line-height: 2.75rem;
}
